h1{
    background-color: tomato;
    padding-left: 300px;
}

h2{
    color: orange;
}

#submit-button{
  margin-top: 10px;
  padding-left: 25px;
  padding-top: 2px;
  text-indent: -0.3rem;
}



#totalMonthlySalary{
  padding-left: 800px;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  
}


table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }